@page "/session-details/{sessionId}"

<MudGrid Elevation="4" Justify="Justify.Center">
    <MudItem xs="12">
        <MudPaper Elevation="3" Class="d-flex flex-row pt-4 pl-3" Style="height:60px;">
          <MudText Typo="Typo.h5" Color="Color.Primary">Session Details</MudText>
        </MudPaper>
    </MudItem>
</MudGrid>
<br/>

<MudGrid Spacing="4" Justify="Justify.FlexStart">

    <MudItem xs="12">
        <MudGrid Spacing="4">
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="4" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Workspaces" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudLink Href=@($"./project-statistics/{testSessionVm?.ProjectId}")>@testSessionVm?.ProjectName</MudLink>
                        <MudText Typo="Typo.subtitle2">@testSessionVm?.ProjectVersion</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="4" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.DesktopWindows" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@testSessionVm?.MachineName</MudText>
                        <MudText Typo="Typo.subtitle2">@testSessionVm?.OSDetails</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="4" md="2">
                <MudPaper Elevation="4" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Inbox" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Template</MudText>
                        <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@testSessionVm?.TemplateName</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="4" md="2">
                <MudPaper Elevation="4" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.DateRange" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Start Time</MudText>
                        <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@testSessionVm?.StartTime</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="4" md="2">
                <MudPaper Elevation="4" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Timer" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Execution Time</MudText>
                        <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@testSessionVm?.TotalExecutionTime m</MudText>
                    </div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="3">
        <MudCard Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudAlert Severity="Severity.Normal" NoIcon="true">Summary</MudAlert>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <Pixel.Automation.Web.Portal.Components.Charts.DonutChart ChartData="@testSessionVm?.SummaryChart"></Pixel.Automation.Web.Portal.Components.Charts.DonutChart>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="9">
        <MudCard Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudAlert Severity="Severity.Normal" NoIcon="true">Execution Graph</MudAlert>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <Pixel.Automation.Web.Portal.Components.Charts.BarChart ChartData="@testSessionVm?.ExecutionTimeChart"></Pixel.Automation.Web.Portal.Components.Charts.BarChart>
            </MudCardContent>
        </MudCard>
    </MudItem>

    @if(!string.IsNullOrEmpty(SessionId))
    {
        <MudItem xs="12">
            <TestResultsTable TableHeader="Test Results" TableStateChanged="GetTestResultsAsync" ShowExecutionOrder="true"></TestResultsTable>
        </MudItem>
    }

</MudGrid>
<br />
<br />