
<MudTr>
    <td colspan="7">
        <MudCard Elevation="1">
            <MudCardContent>
                @if (IsFailureReasonEditable)
                {
                    <MudAlert Severity="Severity.Info" NoIcon="true">
                        <MudText Typo="Typo.h6">Identified Failure Reason :</MudText>

                        @if (isEditingReason)
                        {
                            <MudGrid>
                                <MudItem xs="8">
                                    <MudTextField @bind-Value="@FailureDetails.FailureReason" Required />
                                </MudItem>

                                <MudItem xs="1" Class="mt-1">
                                    <MudIconButton Icon="@Icons.Material.Filled.Save"
                                                   @onclick="()=> SaveEditAsync()" Size="Size.Medium"></MudIconButton>
                                </MudItem>
                                <MudItem xs="1" Class="mt-1">
                                    <MudIconButton Icon="@Icons.Material.Filled.Cancel"
                                                   @onclick="()=> CancelEdit()" Size="Size.Medium"></MudIconButton>
                                </MudItem>

                            </MudGrid>
                        }
                        else
                        {
                            <MudGrid>
                                <MudItem xs="8">
                                    <MudText Typo="Typo.body2" Class="mt-4">  @(FailureDetails.FailureReason ?? "Not Identified") </MudText>
                                </MudItem>
                                <MudItem xs="1">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   @onclick="()=> ToggleEdit()" Size="Size.Medium"></MudIconButton>
                                </MudItem>
                            </MudGrid>
                        }
                    </MudAlert>
                }

                <br />
                <MudAlert Severity="Severity.Error" NoIcon="true">Exception of type <strong>@FailureDetails.Exception</strong> occured.</MudAlert>
                <br />
                <MudAlert Severity="Severity.Error" NoIcon="true">
                    <MudText Typo="Typo.h6">Error Message :</MudText>
                    <MudText Typo="Typo.body2"> @FailureDetails.Message</MudText>
                </MudAlert>
                <br />
                <MudAlert Severity="Severity.Error" NoIcon="true">
                    <MudText Typo="Typo.h6">Stack Trace :</MudText>
                    <MudText Typo="Typo.body2"> @FailureDetails.StackTrace</MudText>
                </MudAlert>
            </MudCardContent>
        </MudCard>
    </td>
</MudTr>
