
<MudGrid Spacing="4" Justify="Justify.FlexStart">
    <MudItem xs="4">
        <MudGrid Spacing="4">
            <MudItem xs="12">
                <MudPaper Elevation="4" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Workspaces" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@statisticsViewModel?.TestName</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Elevation="4" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    @if (statisticsViewModel.SuccessRate > 80)
                    {
                        <MudIcon Icon="@Icons.Material.Filled.TrendingUp" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.TrendingDown" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    }
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Sucess Rate</MudText>
                        <MudText Typo="Typo.subtitle2">@statisticsViewModel.SuccessRate.ToString("0.##0") %</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Elevation="4" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Timer" Color="Color.Info" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Avg Execution Time</MudText>
                        <MudText Typo="Typo.subtitle2">@statisticsViewModel.AvgExecutionTime.ToString("0.##0") s</MudText>
                    </div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="4">
        <MudCard Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudAlert Severity="Severity.Normal" NoIcon="true">Overall Execution Stats</MudAlert>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <Pixel.Automation.Web.Portal.Components.Charts.DonutChart ChartData="@statisticsViewModel?.ExecutionSummaryChartData"></Pixel.Automation.Web.Portal.Components.Charts.DonutChart>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="4">
        <MudCard Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudAlert Severity="Severity.Normal" Dense="true" NoIcon="true">Avg Execution Time (s) (Last 6 months)</MudAlert>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <Pixel.Automation.Web.Portal.Components.Charts.RadarChart ChartData="@statisticsViewModel?.MonthlyAvgExecutionData"></Pixel.Automation.Web.Portal.Components.Charts.RadarChart>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <MudCard Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudAlert Severity="Severity.Normal" NoIcon="true">Executions History (Last 6 months)</MudAlert>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <Pixel.Automation.Web.Portal.Components.Charts.BarChart ChartData="@statisticsViewModel?.MonthlyExecutionHistoryData"></Pixel.Automation.Web.Portal.Components.Charts.BarChart>
            </MudCardContent>
        </MudCard>
    </MudItem>

    @if (!string.IsNullOrEmpty(TestId))
    {
        <MudItem xs="12">
            <TestResultsTable TableHeader="Recent Executions" TableStateChanged="GetTestResultsAsync"
                              ShowStatisticsButton="false" ShowExecutionDate="true"></TestResultsTable>
        </MudItem>
    }

</MudGrid>